[Unit]
Description=Service PGImporter App on Gunicorn Server
DefaultDependencies=no
Before=shutdown.target

[Service]
ExecStart=/bin/sh /u02/pgbackup/pgimporter/startup.sh
Restart=on-failure
Type=simple

[Install]
WantedBy=shutdown.target
