{% extends "layout.html" %}
{% block title %}
Configuration
{% endblock %}
{% block content %}
<div class="table-responsive">
    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h5 class="border-bottom pb-2 mb-0">Configuration</h6>
            {% if config['DEBUG'] %}
            <p>Debug mode is enabled!</p>
            {% else %}
            <p>Debug mode is disabled.</p>
            {% endif %}
            <h6 class="border-bottom pb-2 mb-0">Edit Configuration</h6>
            <form method="POST">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th colspan="4">Application</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Site Name</td>
                                    <td>Import dump path</td>
                                    <td>Import logs path</td>
                                    <td>Export dump path</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" id="site_name" name="site_name"
                                            value="{{ config['SITE_NAME'] }}">
                                    </td>
                                    <td>
                                        <input type="text" id="import_dump_path" name="import_dump_path"
                                            value="{{ config['IMPORT_DUMP_PATH'] }}">
                                    </td>
                                    <td>
                                        <input type="text" id="import_logs_path" name="import_logs_path"
                                            value="{{ config['IMPORT_LOGS_PATH'] }}">
                                    </td>
                                    <td>
                                        <input type="text" id="export_dump_path" name="export_dump_path"
                                            value="{{ config['EXPORT_DUMP_PATH'] }}">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th colspan="4">Database</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Connection Name</th>
                                    <th>Hostname</th>
                                    <th>Port</th>
                                    <th>Username</th>
                                    <th>Password</th>
                                </tr>
                                {% for db_index, db_data in config['DATABASES'].items() %}
                                <tr>
                                    <td>{{ db_index }}</td>
                                    <td><input type="text" id="db_hostname" name="db_hostname" value="{{ db_data['hostname'] }}"></td>
                                    <td><input type="text" id="db_port" name="db_port" value="{{ db_data['port'] }}"></td>
                                    <td><input type="text" id="db_username" name="db_username" value="{{ db_data['username'] }}"></td>
                                    <td><input type="password" id="db_password" name="db_password" placeholder="Enter password" value="{{ db_data['password'] }}"></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <input type="submit" value="Update Configuration">
                </div>
            </form>
    </div>
</div>
{% endblock %}