{% extends "layout.html" %}
{% block title %}
Configuration
{% endblock %}
{% block content %}
<div class="table-responsive">
    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h1>Configuration</h1>
        <p>This is the page for {{ config['SITE_NAME'] }} settings</p>
        {% if config['DEBUG'] %}
        <p>Debug mode is enabled!</p>
        {% else %}
        <p>Debug mode is disabled.</p>
        {% endif %}
        <h2>Edit Configuration</h2>
        <form method="POST">
            <label for="site_name">Site Name:</label><br>
            <input type="text" id="site_name" name="site_name" value="{{ config['SITE_NAME'] }}"><br><br>
            <input type="submit" value="Update Configuration">
        </form>
    </div>
</div>
{% endblock %}